<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='turismo.css') }}">
</head>
<body>
    <div class="container">
        <h1>Vinos Favoritos</h1>
        <ul>
            {% for vino in vinos %}
                <li>{{ vino.nombre }} - {{ vino.bodega }} - ${{ vino.precio }}</li>
            {% else %}
                <li>No hay vinos favoritos.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
