<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruta del Vino</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='turismo.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: {lat: -32.89084, lng: -68.82717}  // Coordenadas de Mendoza, Argentina
            });

            /*var wineRoute = [
                {lat: -32.89084, lng: -68.82717},  // Punto de inicio
                {lat: -32.90084, lng: -68.83717},  // Punto intermedio
                {lat: -32.91084, lng: -68.84717}   // Punto final
            ];*/

            var winePath = new google.maps.Polyline({
                path: wineRoute,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            winePath.setMap(map);
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Ruta del Vino</h1>
        <div id="map" style="height: 500px; width: 100%;"></div>
    </div>
</body>
</html>
